p{
    margin: 10px 0 !important;
}

.login-container {
    width: 30%;
    margin-top: 200px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alerts {
    padding: 20px;
    background-color: #32CD32;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

.img-small{
    width: 180px;
}